.scroll-reveal-text-container {
  margin: 20px 0;
}

.scroll-reveal-text-content {
  font-size: clamp(1.6rem, 4vw, 3rem);
  line-height: 1.5;
  font-weight: 600;
}

.scroll-reveal-word {
  display: inline-block;
  will-change: opacity, filter;
}
